body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

button#clear {
  width: 100%;
  margin-top: 2px;
}

button.marker {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

div#errormessage {
  background-color: white;
  padding: 20px 0;
  position: absolute;
  left: 35%;
  width: 30%;
  top: 20%;
  border-radius: 25px;
  text-align: center;
  z-index: 1;
}

div#gymtitle, div#admingymtitle {
  font-weight: bold;
  height: 1.2em;
  overflow: hidden;
}

div#admingymtitle {
  margin-left: 17px;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: none;
}

div.gym, div.newgym {
  position: absolute;
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  width: 250px;
  z-index: 1;
}
div.gym:before, div.newgym:before {
  content: "";
  position: absolute;
  margin-top: -26px;
  left: 15%;
  border: solid 15px transparent;
  border-top-color: #FFF;
  z-index: 1;
}

div.gym {
  height: 100px;
}
div.gym:before {
  top: 156px;
}

div.newgym {
  height: 40px;
}
div.newgym:before {
  top: 96px;
}

input.copyusers {
  margin-top: 2px;
  width: 98%;
}

input.nousers {
  margin-top: 2px;
  color: #777777;
  font-style: oblique;
  width: 98%;
}

input.alignright {
  position: absolute;
  right: 12px;
}

div#full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3px;
  left: 0;
}

button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
}

button.remove-button {
  margin-left: 5px;
  background-color: white;
}

div.overlay {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  padding: 1%;
  border: thin black solid;
  background-color: white;
}

div.dim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3px;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

div#userswitcher {
  width: 154px;
  right: 80px;
}

div#selectmultiple {
  left: 10px;
}

div#placegym {
  right: 254px;
}

div#placegym, div#selectmultiple, div#userswitcher {
  position: absolute;
  top: 10px;
  padding: 5px;
  background-color: white;
}

button#assumeuid {
  width: 100%;
}

img.logo {
  position: absolute;
  top: 10px;
  right: 10px;
}

img.logo:hover {
  filter: drop-shadow(8px 8px 10px gray);
}

p {
  margin: 0;
  padding: 5px 0;
}

h3 {
  margin: 0;
  padding: 8px 0;
}

ul {
  margin: 0;
}

li {
  padding: 5px 0;
}

div.time-selector {
  display: inline;
}

select[multiple] {
  width: 200px;
}

input.copyusers {
  width: 100%;
}

img.delete {
  position: absolute;
}
